body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #7DCEA0;
}

.quem-somos{
    background-color: aquamarine;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #D6EAF8;
}

.bg-footer{
    background-color: tomato;
    color: white;
}